body {
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    margin: 0;
}

nav {
    width: 20%;
    padding: 20px;
    background-color: #f4f4f4;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    overflow-y: auto; /* Вертикальная прокрутка */
    overflow-x: auto; /* Горизонтальная прокрутка */
}

nav h2 {
    margin-top: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav li {
    margin-bottom: 10px;
}

nav a {
    text-decoration: none;
    display: inline-block;
    padding: 5px;
    border-radius: 3px;
    background-color: #eedbff; /* Фон для квадратиков */
    color: #333;
    transition: background-color 0.3s, color 0.3s;
    font-size: 14px;
}

nav a:hover {
    background-color: #007BFF;
    color: #fff;
}

iframe[name="content"] {
    width: 80%;
    height: 100vh;
    border: none;
}
