/* Общий стиль для тела */
body {
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    margin: 0;
    background-color: #ffffff;
}

/* Навигация */
nav {
    width: 30%;
    padding: 20px;
    background-color: #f4f4f4;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* Вертикальная прокрутка */
    overflow-x: hidden; /* Скрытие горизонтальной прокрутки */
}

nav h2 {
    margin-top: 0;
    font-size: 18px;
    color: #333;
}

/* Список в навигации */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav li {
    margin-bottom: 10px;
}

/* Ссылки в списке навигации */
nav a {
    text-decoration: none;
    display: inline-block;
    padding: 5px;
    border-radius: 3px;
    background-color: #eedbff; /* Фон для квадратиков */
    color: #333;
    transition: background-color 0.3s, color 0.3s;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
}

nav a:hover {
    background-color: #007BFF;
    color: #fff;
}

/* Область отображения iframe */
iframe[name="content"] {
    width: 70%;
    height: 100vh;
    border: none;
}

/* Заголовки схем */
.schema-header {
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
    padding: 5px;
    background-color: #eaeaea;
    border-radius: 3px;
    transition: background-color 0.3s;
}

.schema-header:hover {
    background-color: #d5d5d5;
}

/* Списки функций */
.function-list {
    margin-left: 20px;
    list-style-type: none;
    padding-left: 0;
}

.function-list li {
    margin-bottom: 5px;
}

/* Кнопки управления */
button {
    padding: 8px 12px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

/* Контейнер для кнопок */
.switch-container {
    margin-bottom: 20px;
    text-align: left;
}

nav h2 {
    margin-top: 0;
    font-size: 18px;
    color: #333;
    text-align: center; /* Центрирование */
}

#schema-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px; /* Расстояние между элементами */
    padding: 5px;
}
