.sql-keyword {
    color: #1f2023;
    background-color: #b5f4f6;
    border: 1px solid #333;
}

.function-input {
    background-color: #f3c7b8;
    border: 1px solid #333;
    border-radius: 3px;
    padding: 1px 1px;
    margin: 1px 0;
}

.function-label {
    background-color: #944aec;
    border: 2px solid #333;
    border-radius: 5px;
    padding: 2px 1px;
    margin: 1px 0;
}