            body {
                font-family: Arial, sans-serif;
                margin: 0;
                padding: 0;
                background-color: #f4f4f9;
                position: relative;
                width: 100vw;
                height: 100vh;
            }
            .container {
                position: relative;
                width: 100%;
                height: 100%;
            }


            .source, .destination {
                position: absolute;
                padding: 10px 20px;
                border: 2px solid #333;
                border-radius: 8px;
                text-align: center;
                background-color: #FFD700; /* Желтый */
            }
            .destination {
                background-color: #87CEFA; /* Голубой */
            }
            svg {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: -1; /* Помещаем стрелки за блоки */
            }
            line {
                stroke-width: 2;
                stroke: black;
                marker-end: url(#arrowhead); /* Добавляем стрелку на конец */
            }